@using MVC5_OnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>

@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>FaturaDetay</h2>

<table class="table table-bordered">
    <tr>
        <th>FATURA KALEM ID</th>
        <th>BİRİM FİYAT</th>
        <th>MİKTAR</th>
        <th>TUTAR</th>
        <th>AÇIKLAMA</th>
        <th>#</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FaturaKalemID</td>
            <td>@x.BirimFiyat</td>
            <td>@x.Miktar</td>
            <td>@x.Tutar</td>
            <td>@x.Aciklama</td>
            <td><a href="#" class="btn btn-info">GÜNCELLE</a></td>
        </tr>
    }
</table>
<a href="/Fatura/YeniFaturaKalem" class="btn btn-primary">YENİ KALEM GİRİŞİ</a>