@using TechnoTool_WebApp.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Mesajlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>TÜM MESAJLAR</h2>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>GÖNDERİCİ</th>
                        <th>ALICI</th>
                        <th>KONU</th>
                        <th>İÇERİK</th>
                        <th>TARİH</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>GÖNDERİCİ</th>
                        <th>ALICI</th>
                        <th>KONU</th>
                        <th>İÇERİK</th>
                        <th>TARİH</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.gonderici</td>
                            <td>@x.alici</td>
                            <td>@x.konu</td>
                            <td>@x.icerik</td>
                            <td>@x.tarih.ToShortDateString()</td>
                            <td><a href="/AdminMesaj/MesajDetay/@x.mesajid" class="btn btn-secondary">Detay</a></td>
                        </tr>
                    }

                </tbody>

            </table>
            <br />
            @Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}),new PagedListRenderOptions
                                    {
                                         LiElementClasses=new List<string>
                                         {"page-link"}
                                    })
            <br />
            <a class="btn btn-primary" href="/AdminMesaj/MesajEkle/">YENİ MESAJ</a>
        </div>
        <br />

    </div>
